* {
    font-family: 'Roboto' ;
   
}
.add{
    margin-top:12%;
}
/* NAV BAR STYLE*/
.navbar-right {
    height: 100%;
    position: fixed !important;
    background-color: #455a64;
    width: 200px;
    float:left;
    margin-top: 0px;
    position: fixed;
    left: 0;
    margin: 0;
    transition: all 0.5s;
}
.navbar-right ul {
    padding: 0;
    padding-top: 0;
    margin-top: 25px;
    margin-left: -15px;
    margin-right: -15px;
}
ul:not(.browser-default) li {
    list-style-type: none;
}


.navbar-right li {
    float: none;
    line-height: 48px;
}
@media only screen and (max-width: 992px) {

    .sideBar a {
        padding: 0 16px;
    }
}
.navbar-right a {
    color: #ccc;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding-left: 15px;
}
.navbar-right a .material-icons {
   vertical-align: middle;
   padding-right: 5px;
}
.navbar-right li:hover {
    cursor: pointer;
    background-color: #fff ;
    color : #fff;
    text-decoration:  none;
}
.navbar-right li:a {
    color: #fff;
}
li.logo {
    text-align: center;
    margin-top: 32px;
    border-bottom: 1px solid #ccc;
}
li.logo i.material-icons {
    font-size: 84px;
    color: #fff;
}
li.logo:hover {
    background: none;
}
@media only screen and (max-width: 950px) {
    .navbar-right {
        width:40px !important;
    }
    .navbar-right a {
     padding: 0 10px;
   }
   .navbar-right a span.libelle-nav {
     display: none;
   }
   li.logo i.material-icons {
    font-size: 40px;
    color: #fff;
}
}
/* MODAL ADMIN */
.modal .modal-content .modal-header {
    background-color: #455a64;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.modal .modal-content .modal-header h5.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-left: 35%;

}

.modal .modal-content .modal-header button.close {
    color: #fff ;
    opacity: 0.9;
    font-weight: normal;
}

/* ADMIN CONTENT STYLE */
.adminContent {
    margin-top: 30px;
}
.titlePage {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    display: inline-block;
}

.pull-right {
    float: right;
}

.table thead tr th {
    vertical-align: bottom; 
    border : 1px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.table td {
    border: 1px solid #ccc;
}
a.withIcon {
    display: inline-flex;
    text-transform: uppercase;
    font-size: 14px;
}
a.withIcon i.material-icons {
    line-height: 14px;
    letter-spacing: 5px;
}
.card .card-header {
     background-color: #ccc;
     text-transform: uppercase;
     font-weight: 500;
     letter-spacing: 4px;
}

    @media screen and (min-width: 768px) {
        .modal-dialog {
          width: 700px; /* New width for default modal */
        }
        .modal-sm {
          width: 350px; /* New width for small modal */
        }
    }
    @media screen and (min-width: 992px) {
        .modal-lg {
          width: 950px; /* New width for large modal */
        }
    }