@{
    ViewBag.Title = "Importresult";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Importer les resultats</h2>

@using (Html.BeginForm("Import", "Race", FormMethod.Post,new {enctype="multipart/form-data"}))
{
    <p>
        <input type="file" id="FileResult" name="FileResult" size="23" />
    </p>
    <p>
        <input type="submit" value="Upload file" />
    </p>
}
