    

<ul>
    <li class="logo">
        <i class="material-icons">directions_run</i>
    </li>
     <li>
            <a href="#">
                <i class="material-icons">all_inclusive</i>
                <span class="libelle-nav"> Gestion des courses </span>

            </a>

     </li>
      <li>
            <a href="#">
                <i class="material-icons">show_chart</i>
                <span class="libelle-nav">  Statistiques </span>

            </a>

      </li>
    <li>
        <a href="#">
            <i class="material-icons">arrow_back</i>
            <span class="libelle-nav">  Retour au site </span>

        </a>

    </li>
 </ul>
