<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><i class="material-icons">directions_run</i></a>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
            </li>
            <li class="nav-item">
               @Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { @class =  "nav-link" })
            </li>

            <li class="nav-item">
                @Html.ActionLink("S'inscrire", "Index", "Register", routeValues: null, htmlAttributes: new { @class = "nav-link" })
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>